title = compiled_example;

fields = {
		Name,
		Student_ID,
		A1,
		A2,
		A3,
		A4,
		Average
	};

buttons = {Add, Update, Delete, Query};

#!#

#types of fields
Name = string;
Student_ID = integer;
A1 = integer;
A2 = integer;
A3 = integer;
A4 = integer;
Average = float;

#action listeners
Add = AddListener;
Update = UpdateListener;
Delete = DeleteListener;
Query = QueryListener;
